# Environments & Secrets
.env
.env.local
.env.*.local
.venv/
env/
venv/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs & temporary files
*.log
.DS_Store
Thumbs.db

# Editor & IDE Configs
.vscode/
.idea/
*.swp
